{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div hx-target="this" hx-swap="outerHTML" class="mt-1 py-2 px-2 bg-white shadow border border-gray-100">

<form method="post">
{% csrf_token %}
     <fieldset class="form-group">
     	{{form|crispy}}
     	<div class="form-group">  
        {% if todo %}
     		<button type="submit" hx-post=""
            class="inline-flex items-center px-3 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            Update Item
        </button>

        <button hx-get="" type="button"
            class="ml-2 inline-flex items-center px-3 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            Cancel
        </button>
        {% else %}
        <button type="submit" hx-post="."
            class="inline-flex items-center px-3 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            Add Item
        </button>

        
        {% endif %}
     	</div>
    </fieldset>
</form>

</div>



{% endblock %}